.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 25px;
    border-bottom: 1px solid #e4e8f1;

    @include breakpoint(sm) {
        flex-direction: column;
    }

    &__logo {
        font-weight: 700;
        font-size: 18px;
        margin-right: 35px;

        &:hover {
            cursor: pointer;
        }

        @include breakpoint(sm) {
            margin-right: 0;
        }
    }

    &__hamburger {
        display: none;
        position: absolute;
        right: 25px;
        top: 18px;
        height: 30px;
        width: 30px;
        background-image: url('./images/hamburger.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        background-color: transparent;
        border: 0;
        box-shadow: none;
        outline: 0;

        @include breakpoint(sm) {
            display: block;
        }

        &:hover {
            cursor: pointer;
        }
    }

    &__nav {
        display: block;

        @include breakpoint(sm) {
            display: none;
            margin-top: 15px;
            width: 100%;
        }

        &--open {
            display: block;
        }
    }

    &__list {
        display: block;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    &__list-item {
        display: inline-block;
        margin: 0 5px;

        @include breakpoint(sm) {
            display: block;
            width: 100%;
            margin: 5px 5px;
        }
    }

    &__list-link {
        display: inline-block;
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
        color: #949fb1;
        padding: 0 7px;

        &--active {
            color: $link-active-color;
        }
    }
}
