.input {
    min-height: 43px;
    padding: 5px 25px;
    font-size: 16px;
    background-color: #eeeff3;
    color: #8392a5;
    border: 0;
    border-radius: 8px;
    outline: 0;
    box-shadow: none;
}
