.dropdown-toggle .clear {
  display: none;
}

.v-select .dropdown-toggle {
    padding: 7.1px 0 10px 15px!important;
    background: #eeeff3!important;
    border: 0!important;
    border-radius: 8px!important;
}

.dropdown-menu {
    border: 0!important;
}
