@import "_variables";
@import "_mixins";
@import "components/_btn";
@import "components/_header";
@import "components/_table";
@import "components/_input";
@import "components/_form";
@import "components/_datepicker";
@import "components/_vue-select";
@import "components/_widget";

* {
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: "Open Sans";
    margin: 0;
    padding: 0;
}

.app {
    &__view-wrapper {
        padding: 50px 60px;
        margin-top: 66px;

        @include breakpoint(md) {
            padding: 30px 45px;
        }

        @include breakpoint(sm) {
            padding: 15px 15px;
        }
    }
}

.page {
    &__heading {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;

        @include breakpoint(sm) {
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 30px;
        }
    }

    &__heading-title {
        font-size: 22px;
        color: #1c2d41;
        font-weight: 600;
        margin-top: 0;
        margin-bottom: 0;
        line-height: 2.139;
    }
}
